<%= form_for(@admin) do |f| %>
  <% if @admin.errors.any? %>
    <div class="row">
      <div class="small-12 columns" id="error_explanation"></div>
        <div data-alert class="alert-box alert radius"><%= pluralize(@admin.errors.count, "error") %> prohibited this admin from being saved:</div>
       
        <% @admin.errors.full_messages.each do |message| %>
          <h5 class="small-offset-1"><small><%= message %></small></h5>  
        <% end %>
        
    </div>
  <% end %>

  <div class="row">
    <div class="medium-4 columns field">
        <%= f.label :email %>
        <%= f.text_field :email %>
    </div>
  </div>
  <div class="row">
    <div class="medium-4 columns field">
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>
  </div>
  <div class="row">
    <div class="medium-4 columns field">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %>
    </div>
  </div>
  <div class="row">
    <div class="medium-4 columns actoins">
      <%= f.submit class: "button tiny radius success" %>
    </div>
  </div>
<% end %>
