<% title "PersianPreneur | Admins" %>
<div class="row title">
  <div class="small-8 columns">
    <h1>Manage Admins</h1>
  </div>
</div>

<div class="row">
  <div class="small-8 columns">
    <%= link_to("Add An Admin", new_admin_path, class: "button small radius success") %>
  </div>
</div>

<div class="row">
  <div class="small-8 columns">
    <table>
      <thead>
        <tr>
          <th>Email</th>
          <th class="text-center" colspan="3">Actions</th>
        </tr>
      </thead>

      <tbody>
        <% @admins.each do |admin| %>
          <tr>
            <td><%= admin.email %></td>
            <td><%= link_to 'Show', admin %></td>
            <td><%= link_to 'Edit', edit_admin_path(admin) %></td>
            <td><%= link_to 'Destroy', "/admins/#{admin.id}/destroy", method: :delete, data: {confirm: "Are you sure you want to destroy Admin \"#{admin.email}\"?" } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>