<% title "PersianPreneur | Manage People" %>
<div class="row">
  <div class="small-8 columns title">
    <h1>Manage People</h1>
  </div>
</div>

<div class="row">
  <div class="small-8 columns">
    <%= link_to("Add A Person", new_person_path, class: "button small radius success") %>
  </div>
</div>

<% if @people.size > 0 %>
  <div class="row">
    <div class="small-8 columns">
      <table>
        <thead>
          <tr>
            <th></th>
            <th class="text-center">Person</th>
            <th class="text-center" colspan="3">Actions</th>
          </tr>
        </thead>

        <tbody id="manage-people" data-update-url="<%= sort_people_url %>">
          <% @people.each do |person| %>
            <%= content_tag_for(:tr, person) do %>
              <td class="fa fa-arrows handle"></td>
              <td><%= person.full_name %></td>
              <td><%= link_to 'Show', person %></td>
              <td><%= link_to 'Edit', edit_person_path(person) %></td>
              <td><%= link_to 'Destroy', "/people/#{person.id}/destroy", method: :delete, data: {confirm: "Are you sure you want to destroy Person '#{person.full_name}'?"} %></td>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>