<%= form_for(@person, data: {abide: ''}) do |f| %>
  <div class="row">
    <div class="small-12 columns">
        <%= f.label :full_name %>
        <%= f.text_field :full_name, placeholder: 'Shervin Pishavar',required: '' %>
        <%= content_tag(:small, "This field is required", class: "error") %>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <%= f.label :description %>
      <%= f.text_area :description, "rows" => 3, placeholder: 'lorem ipsum', required: '' %>
      <%= content_tag(:small, "Please enter a short bio about this person.", class: "error") %>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
			<%= f.check_box :investor %>
			<%= f.label :investor %>
      <%= f.check_box :entrepreneur %>
      <%= f.label :entrepreneur %>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
			<%= f.label :birth_date %>
			<%= f.text_field :birth_date, placeholder: 'YYYY-MM-DD', required: '', pattern: 'date', id: 'person-birthday', data:'mm-dd-yy' %>
      <%= content_tag(:small, 'This field is required, e.g. 1990-01-27', class: "error") %>
    </div>
  </div>  
  <div class="row">
    <div class="small-12 columns">
			<%= f.label :location %>
			<%= f.text_field :location, placeholder: 'Silicon Valley, CA', required:'' %>
      <%= content_tag(:small, "We must know where this person lives. At least the country.", class: "error") %>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
			<%= f.label :website %>
			<%= f.text_field :website, placeholder: 'http://sherpa.com/', pattern: 'url' %>
      <%= content_tag(:small, "e.g. http://sharpa.com/", class:"error") %>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <%= f.label :linkedin_profile %>
      <%= f.text_field :linkedin_profile, placeholder: 'http://linkedin.com/in/shervin', pattern: 'url' %>
    </div>
  </div> 
  <div class="row">
    <div class="small-12 columns">
      <%= f.label :twitter_handle, "Twitter" %>
      <%= f.text_field :twitter_handle, placeholder: '@shervin' %>
    </div>
  </div>  
  <div class="row">
    <div class="small-12 columns">
      <% if not :profile_picture? %>
        <%= f.label :profile_picture %>
        <%= f.file_field :profile_picture, required: '' %> 
      <% end %>			
      <% if :profile_picture? %>
        <%= f.label :profile_picture, "Change Profile Picture" %>
        <%= f.file_field :profile_picture %>
      <% end %>
    </div>
  </div>
  <% if logged_in? %>
    <div class="row">
      <div class="small-12 columns">
        <%= f.label :arrangement %>
        <%= f.number_field :arrangement, required: '' %>
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns">
  			<%= f.check_box :published %>
  			<%= f.label :published %>
      </div>
    </div>
  <% end %>
  <div class="row">
    <div class="small-4 columns small-centered">
      <%= f.submit "Add Me To The List", class: "button tiny radius" %>
    </div>
  </div>
<% end %>