<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>

<h1>People</h1>

<div id="add_person"><%= link_to "Add A New Person", new_person_path, class: "new_person" %></div>

<div id="main">
  <ul class="small-block-grid-2 medium-block-grid-4 large-block-grid-8">
    <% @people.each do |person| %>
          <li>
              <a href="#" data-dropdown="hover1" data-options="is_hover:true"><%= image_tag(person.profile_picture.thumb.url) %></a>
              <ul id="hover" class="f.dropdown" data-dropdown-content>
                <li><%= person.full_name %></li>
                <li><%= person.description %></li>
                <li><%= person.location %></li>
                <li><%= link_to("http:://twitter.com/#{person.twitter_handle}", "Twitter") %></li>
              </ul>
          </li>
    <% end %>
  </ul>
</div>