<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>

<div class="row text-center">
  <h1>People</h1>
</div>
  <div class="row">
    <div class="small-8 columns">
      <div id="add_person"><%= link_to "Add Yourself to the List", new_person_path, class: "new_person button" %></div>
    </div>
  </div>

<div id="main">
  <ul class="small-block-grid-2 medium-block-grid-4 large-block-grid-8">
    <% @people.each do |person| %>
            <li id=<%= "tooltip" %>>
              <div>
                <%= link_to(image_tag(person.profile_picture.thumb.url))%>
              </div>
              <ul class="display-none">
                <li><%= person.full_name %></li>
                <li>
                  <%= Time.now.utc.to_date.year - person.birth_date.year - (person.birth_date.to_date.change(:year => Time.now.utc.to_date.year) > Time.now.utc.to_date ? 1 : 0) %>
                </li>
                <li><%= person.description %></li>
                <li><%= person.location %></li>
                <li><%= link_to("Twitter", "http://twitter.com/#{person.twitter_handle}") %></li>
              </ul>
            </li>
    <% end %>
  </ul>
</div>