<% title "PersianPreneur" %>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
<div class="row">
  <div class="small-8 columns">
    <h1>People</h1>
  </div>
</div>
<div class="row">
  <div class="small-8 columns">
    <%= link_to "Add Yourself To The List", "#", data: {:'reveal-id' => 'addPersonModal'}, class: ['button small'] %>
    <div id="addPersonModal" class="reveal-modal" data-reveal>
      <% @person = Person.new %>
      <%= render partial: '/people/form' %>
      <a class="close-reveal-modal">&#215;</a>
    </div>
  </div>
</div>
<div id="main">
  <ul class="small-block-grid-3 medium-block-grid-5 large-block-grid-10">
    <% @people.each do |person| %>
            <li class="tooltip-person">
              <div class="image-wrapper">
                <%= link_to(image_tag(person.profile_picture.thumb.url))%>
              </div>
              <div class="hidden tipcontent">
                <h5>
                  <%= person.full_name + ", "%>
                  <%= Time.now.utc.to_date.year - person.birth_date.year - (person.birth_date.to_date.change(:year => Time.now.utc.to_date.year) > Time.now.utc.to_date ? 1 : 0) %> 
                </h5>
                <div>
                  <% unless person.website.blank? %>
                    <%= link_to "", person.website, :class => ['fa', 'fa-home', 'fa-lg'] %>
                  <% end %>
                  <% unless person.twitter_handle.blank? %>
                    <%= link_to "", "http://twitter.com/#{person.twitter_handle}", :class => ['fa', 'fa-twitter-square', 'fa-lg'] %>
                  <% end %>
                </div>
                <div>
                  <%= person.description %>
                </div>
                <div>
                  <%= person.location %>
                </div>
              </div>
            </li>
    <% end %>
  </ul>
</div>
<script type="text/javascript">
  $(document).ready(function() {    
    $('li.tooltip-person').each(function() {
      var $img = $(this).find('div.image-wrapper');
      var tipContent = $('div.hidden.tipcontent', this).html();
      $img.attr('title', tipContent);
      $img.powerTip({
        placement: 'nw-alt',
        mouseOnToPopup: true,
        smartPlacement: true
      });
    });
  });
</script>