<div class="main">
  <section id="main-section">
    <div class="row">
      <div class="small-12 large-10 columns left main-text">
          <h1 id="title">
            Persianpreneur  
          </h1>
          <div class="intro" id="title-description">
          <h4>
            /ˈpərZHənprəˈno͝or, -ˈnər/ <span class="noun"> noun</span></h4>
          
          <h5>
            <p>An Iranian entrepreneur making the world a better place by solving one problem at a time. <br/>
          
          
            They are hardworking smart people. You can find a list of them below.</p>
          </h5>          
        </div>
        <div id="add-person-button">
          <%= link_to "Add Someone To The List", "#", data: {:'reveal-id' => 'addPersonModal'}, class: ['button small radius'] %>
        </div>
        <div id="addPersonModal" class="reveal-modal" data-reveal>
          <% @person = Person.new %>
          <%= render partial: '/people/form' %>
          <a class="close-reveal-modal">&#215;</a>
        </div>                    
      </div>
      <%= render partial: 'layouts/side_menu' %>
    </div>
  </section>  
  <section id="content-section">
    <ul class="small-block-grid-1 medium-block-grid-6 large-block-grid-10">
      <% @people.each do |person| %>
              <li class="tooltip-person">
                <div class="image-wrapper">
                  <%= image_tag '', 'data-src' => asset_url(person.profile_picture.thumb.url), class: 'profile-picture b-lazy', alt: "#{person.full_name}" %>
                </div>
                <div class="hide-for-medium-up tipcontent">
                  <div class="links show-for-medium-up">              
                    <% unless person.website.blank? %>
                      <%= link_to "", person.website, target: "_blank", :class => ['fa', 'fa-home', 'fa-lg'] %>
                    <% end %>
                    <% unless person.linkedin_profile.blank? %>
                      <%= link_to "", "#{person.linkedin_profile}", target: "_blank", :class => ['fa', 'fa-linkedin'  , 'fa-lg'] %>
                    <% end %>
                    <% unless person.twitter_handle.blank? %>
                      <%= link_to "", "http://twitter.com/#{person.twitter_handle}", target: "_blank", :class => ['fa', 'fa-twitter', 'fa-lg'] %>
                    <% end %>
                  </div>
                  <div class="full-name">
                    <%= person.full_name + (person.birth_date.blank? ? "" : ", ") %>
                    <% unless person.birth_date.blank? %>
                      <%= Time.now.utc.to_date.year - person.birth_date.year - (person.birth_date.to_date.change(:year => Time.now.utc.to_date.year) > Time.now.utc.to_date ? 1 : 0) %> 
                    <% end %>
                  </div>
                  <div class="links hide-for-medium-up">              
                    <% unless person.website.blank? %>
                      <%= link_to "", person.website, target: "_blank", :class => ['fa', 'fa-home', 'fa-lg'] %>
                    <% end %>
                    <% unless person.linkedin_profile.blank? %>
                      <%= link_to "", "#{person.linkedin_profile}", target: "_blank", :class => ['fa', 'fa-linkedin'  , 'fa-lg'] %>
                    <% end %>
                    <% unless person.twitter_handle.blank? %>
                      <%= link_to "", "http://twitter.com/#{person.twitter_handle}", target: "_blank", :class => ['fa', 'fa-twitter', 'fa-lg'] %>
                    <% end %>
                  </div>                  
                  <div class="description">
                    <% unless person.company.blank? %>
                      <div class="company">
                        <%= person.company %>
                      </div>
                    <% end %>
                    <%= person.description %>
                    <br/><p><%= person.location %></p>
                  </div>
                </div>
              </li>
      <% end %>
    </ul>
  </section>
</div>