<div class="row">
  <div class="small-8 columns title">
    <h1>Manage People</h1>
  </div>
</div>

<div class="row">
  <div class="small-8 columns">
    <%= link_to("Add A Person", new_person_path, class: "button tiny radius success") %>
  </div>
</div>

<% if @people.size > 0 %>
  <div class="row">
    <div class="small-8 columns">
      <table>
        <thead>
          <tr>
            <th>Person</th>
            <th class="text-center" colspan="3">Actions</th>
          </tr>
        </thead>

        <tbody>
          <% @people.each do |person| %>
            <tr>
                <td><%= person.full_name %></td>
              <td><%= link_to 'Show', person %></td>
              <td><%= link_to 'Edit', edit_person_path(person) %></td>
              <td><%= link_to 'Destroy', "/people/#{person.id}/destroy", method: :delete %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% else %>
  <div class="row">
    <div class="small-8 columns">
      <h4>No New Suggestions</h4>
    </div>
  </div>
<% end %>