<% title "PersianPreneur | Show Person" %>
<div class="row">
  <div class="small-12 columns">
    <%= image_tag(@person.profile_picture.normal.url) %>    
	</div>
</div>
<div class="row">
  <div class="small-12 columns">
    <h2>
      <%= @person.full_name + (@person.birth_date.blank? ? "" : ", ") %>
      <% unless @person.birth_date.blank? %>
        <%= Time.now.utc.to_date.year - @person.birth_date.year - (@person.birth_date.to_date.change(:year => Time.now.utc.to_date.year) > Time.now.utc.to_date ? 1 : 0) %> 
      <% end %>
    </h2>
	</div>
</div>
<div class="row">
  <div class="small-12 columns">
    <div>
      <% unless @person.website.blank? %>
        <%= link_to "", @person.website, :class => ['fa', 'fa-home', 'fa-2x'] %>
      <% end %>
      <% unless @person.linkedin_profile.blank? %>
        <%= link_to "", "#{@person.linkedin_profile}", :class => ['fa', 'fa-linkedin-square'  , 'fa-2x'] %>
      <% end %>
      <% unless @person.twitter_handle.blank? %>
        <%= link_to "", "http://twitter.com/#{@person.twitter_handle}", :class => ['fa', 'fa-twitter-square', 'fa-2x'] %>
      <% end %>
    </div>    
	</div>
</div>
<% if @person.entrepreneur %>
	<div class="row">
	  <div class="small-12 columns">
	    <h3><%= "Entrepreneur" %></h3>
		</div>
	</div>
<% end %>

<% if @person.investor %>
	<div class="row">
	  <div class="small-12 columns">
	    <h3><%= "Investor" %></h3>
		</div>
	</div>
<% end %>
<div class="row">
  <div class="small-12 columns">
    <h3><%= @person.description %></h3>
	</div>
</div>
<div class="row">
  <div class="small-12 columns">
    <h3><%= @person.birth_date %></h3>
	</div>
</div>
<div class="row"> 
	<div class="medium-1 columns">
		<%= link_to("Edit", edit_person_path(@person), class: "button small radius success") %>
	</div>
	<div class="medium-11 columns">
		<%= link_to("Destroy", "/people/#{@person.id}/destroy", method: :delete, class: "button small radius alert", data: {confirm: "Are you sure you want to destroy Person \"#{@person.full_name}\"?" }) %>
	</div>
</div>