<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= content_for?(:title) ? yield(:title) : "PresianPreneur" %></title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="off-canvas-wrap" data-offcanvas>
      <div class="inner-wrap">        
        <div class="hide-for-large-up">
          <nav class="tab-bar">
            <section class="left-small">
              <a href="#" class="left-off-canvas-toggle menu-icon" ><span></span></a>
            </section>
          </nav>
          <aside class="left-off-canvas-menu">
            <ul class="off-canvas-list">
              <li><%= link_to 'Home', root_path %></li>
              <% unless logged_in? %>
                <li><%= link_to 'About', about_page_path %></li>
                <li><%= link_to 'Contact', contact_page_path %></li>
                <li><%= link_to 'Twitter', 'http://twitter.com/persianpreneur'%></li>
              <% end %>
              <% if logged_in? %>
                <li><%= link_to "Review Suggestions", admin_review_path %></li>
                <li><%= link_to "Manage People", admin_manage_people_path %></li>
                <li><%= link_to "Manage Admins", admin_manage_admins_path %></li>
                <li><%= link_to "Logged in as #{current_user.email}", edit_admin_path(current_user) %></li>
                <li><%= link_to "Logout", admin_logout_path %></li>
              <% end %>
            </ul>  
          </aside>
        </div>
        <% if logged_in? %>
          <div class="show-for-large-up">          
            <%= render partial: 'layouts/admin_top_bar' %>
          </div>
        <% end %>
        <% if flash.notice %>
          <div class="row">
            <div class="8-small columns">          
              <div data-alert class="alert-box secondary">
                <%= flash.notice %>
                <a href="#" class="close">&times</a>
              </div>
            </div>
          </div>
        <% end %>        
        <div id="wrapper">
          <%= yield %>
        </div>
        <%= render partial: 'layouts/footer' %>
      </div>
    </div>
    <%= javascript_include_tag "application" %>
  </body>
</html>